<h1> Редактировать товар </h1>
<ul>
<%= form_for @item do |f| %>
	<li><%= f.label "Наименование" %></li>
	<li><%= f.text_field :name %></li>
	<li><%= f.label "Описание" %></li>
	<li><%= f.text_field :desription %></li>
	<li><%= f.label "Цена" %></li>
	<li><%= f.text_field :price %></li>
	<li><%= f.label "Реальный?" %></li>
	<li><%= f.check_box :real %></li>
	<li><%= f.label "Вес" %></li>
	<li><%= f.text_field :weight %></li>
	<li><%= f.submit "Сохранить изменения в товаре"%></li>
<% end %>
</ul>